@font-face {
    font-family: 'Vazirmatn';
    src: url('./Vazirmatn-RD-UI-Bold.woff2') format(woff2);
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'Vazirmatn';
    src: url('./Vazirmatn-RD-UI-Medium.woff2') format(woff2);
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: 'Vazirmatn';
    src: url('./Vazirmatn-RD-UI-Regular.woff2') format(woff2);
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}